header {
  background-color: #6d9886;
  color: white;
  font-family: Poppins, sans-serif;
}

main {
  font-family: Raleway, sans-serif;
  color: #393e46;
}

.tag {
  font-family: Raleway, sans-serif;
  padding-top: 25pt;
  padding-left: 15px;
  font-size: 10pt;
}

.subtitle {
  display: flex;
  text-align: center;
  background-color: #393e46;
  color: white;
  font-size: 11pt;
}

.gen-con {
  height: 500px;
  display: flex;
  align-items: center;
}

.gen-row {
  height: 200px;
  width: 450px;
  margin: 0 auto;
}

#music-list > li {
  line-height: 60px;
  list-style-type: none;
  font-size: 15pt;
}

.gen-col {
  display: flex;
  justify-content: center;
}

.gen-but {
  margin-top: 50px;
  background-color: #f2e7d5;
  font-family: Raleway, sans-serif;
  color: #393e46;
  border: none;
  height: 45px;
  width: 120px;
  box-shadow: 0 4px 7px -6px #393e46;
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
}

.rando-list {
  border-top: 1px solid #f2e7d5;
  border-bottom: 1px solid #f2e7d5;
}

.first {
  float: right;
  margin-top: 10px;
  border-radius: 50%;
  text-align: center;
  background-color: #6d9886;
  color: #f2e7d5;
  width: 35px;
  height: 35px;
  font-size: 20pt;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}

#sel-list {
  padding-left: 0;
}

#sel-list > li {
  line-height: 70px;
  list-style-type: none;
  font-size: 15pt;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2e7d5;
  padding-left: 30px;
  letter-spacing: 0.04em;
}

.fa-star {
  color: #d9d9d9;
  letter-spacing: 5px;
}

.rated-form {
  color: #f2e7d5;
}

.rated {
  color: #f2e7d5;
}

i:hover {
  cursor: pointer;
}

.second {
  float: right;
  margin-top: 20px;
  border-radius: 50%;
  text-align: center;
  background-color: white;
  color: #6d9886;
  width: 35px;
  height: 35px;
  font-size: 20pt;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  margin-right: 15px;
}

.sel-trash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  font-size: 15pt;
}

.fa-list {
  float: right;
  font-size: 20pt;
  padding-right: 5px;
}

.fa-house {
  float: right;
  padding-top: 35px;
  font-size: 20pt;
  color: #f2e7d5;
}

.press {
  font-size: 15pt;
  text-align: center;
  margin-block-start: 80px;
  margin-block-end: 80px;
}

.needs {
  margin-block-start: 30px;
}

.wants {
  text-align: center;
  display: block;
}

.return-but {
  margin-top: 40px;
  margin-bottom: 20px;
  background-color: #f2e7d5;
  font-family: Raleway, sans-serif;
  color: #393e46;
  border: none;
  height: 45px;
  width: 120px;
  box-shadow: 0 4px 7px -6px #393e46;
  border-radius: 3px;
}

.fa-pen-to-square {
  border-radius: 50%;
  justify-content: center;
  background-color: white;
  display: flex;
  align-items: center;
  color: #6d9886;
  width: 35px;
  height: 35px;
  font-size: 18pt;
  float: right;
  position: relative;
  right: 10px;
  bottom: 5px;
}

.genre-specific-buttons {
  position: relative;
  bottom: 40px;
}

.genre-specific {
  margin-bottom: -35px;
}

img {
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

textarea,
input {
  width: 100%;
  margin-bottom: 2em;
  border: solid 1px #b6b6b6;
  border-radius: 4px;
}

input {
  height: 40px;
}

textarea,
input,
select {
  font-family:
    Raleway,
    sans-serif;
}

.title-type {
  display: flex;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
}

select {
  width: 70%;
  height: 40px;
  border: solid 1px #b6b6b6;
  border-radius: 4px;
  color: grey;
}

.rate-entry {
  text-align: center;
}

.stars {
  text-align: center;
  font-size: 20pt;
}

.image-url {
  display: flex;
  align-items: center;
}

#image-url {
  width: 450px;
}

.submit-button-div {
  float: right;
  position: relative;
  bottom: 40px;
  margin-right: 5px;
  margin-bottom: -35px;
}

.fa-delete-div {
  float: left;
  margin-top: 20px;
  margin-left: 5px;
}

.fa-delete-left {
  font-size: 25pt;
}

.save {
  color: white;
  background-color: #6d9886;
  width: 60px;
  height: 27px;
  border-radius: 4px;
  border: none;
}

.artist-title {
  text-align: center;
}

#genre-adds > li {
  list-style-type: none;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #f2e7d5;
}

#genre-adds {
  padding-left: 0;
}

.first-row-genre {
  display: flex;
  align-items: center;
}

.notes-stars {
  text-align: center;
}

.star-column {
  margin-left: 75px;
  margin-top: 10px;
  font-size: 20pt;
}

.fa-pencil {
  float: right;
  border-radius: 4px;
  justify-content: center;
  background-color: white;
  border: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  color: #6d9886;
  width: 35px;
  height: 35px;
  font-size: 15pt;
  margin-right: 10px;
}

.ent-trash {
  float: right;
  border-radius: 4px;
  justify-content: center;
  background-color: white;
  border: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  color: #6d9886;
  width: 35px;
  height: 35px;
  font-size: 15pt;
}

.container {
  position: relative;
}

.container-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(0 0 0/ 50%);
}

.pop-out {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 375px;
  height: 145px;
  font-family: Raleway, sans-serif;
}

.pop-but {
  height: 30px;
  width: 90px;
  margin-top: 25px;
  border: none;
  border-radius: 4px;
}

.cancel-but {
  background-color: #393e46;
  color: white;
}

.confirm-but {
  background-color: #6d9886;
  color: white;
  float: right;
}

.pop-words {
  margin-top: 25px;
}

.no-tracks {
  margin: auto;
}
